<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEQh-8iPNMDukwzQ6FXhHFdjhDsLnejls</string>
	<key>GCM_SENDER_ID</key>
	<string>366701550357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keziagloria.studybuddy</string>
	<key>PROJECT_ID</key>
	<string>mc2-studybuddy</string>
	<key>STORAGE_BUCKET</key>
	<string>mc2-studybuddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366701550357:ios:81edbaeb61fe689d79671c</string>
</dict>
</plist>